<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_FILE_DIR" value="/opt/logs/http-server" />
    <property name="APP_NAME" value="test2" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%logger{36}:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_DIR}/${APP_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date %-5level [%logger{36}:%line] %msg%n</pattern>
        </encoder>
    </appender>
    -->
    <appender name="RollingFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_DIR}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%logger{36}:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.Master5.main" level="DEBUG" />
    
    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->  
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.apache" level="INFO" />
  
    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->  
    
    <logger name="org.hibernate.event" level="INFO" />
    <logger name="org.hibernate.SQL" level="INFO" />
    
</configuration>